# Виртуальное окружение
venv/
ENV/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Логи и базы данных
logs/
*.log
*.sqlite3

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Операционная система
.DS_Store
Thumbs.db

# Тестовые файлы
.pytest_cache/
.coverage
htmlcov/

# Другие файлы
*.env
*.tmp